:root {
  --primery-text-color: #212121;
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196F3;
  --primary-background-color: #FFFFFF;
  --hero-background: #2F303A;
  --rgba-footer: rgba(255, 255, 255, 0.6);
  --portfolio-color-button: #F5F4FA;
  --background-color: #C4C4C4;
  --social-icon-color: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-social__link, .footer-social, .our-clients__link, .social-list__link, .our-work__text, .specialization__link, .modal-form__checkbox_label, .modal__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primery-text-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section_no-padding-top {
  padding-top: 0;
  padding-bottom: 94px;
}
.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
.section__other-background {
  background-color: var(--portfolio-color-button);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo__dark {
  color: var(--primery-text-color);
}
.logo__footer {
  display: inline-block;
}
.logo__light {
  color: var(--primary-background-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
@media screen and (max-width: 479px) {
  .modal {
    min-width: calc(100% - 30px);
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 2px;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}
.modal-form__field {
  margin-top: 10px;
}
.modal-form__field_key {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--text-color);
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form__input_wrapper {
  position: relative;
  display: block;
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}
.modal-form__message {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__checkbox_label {
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  margin-top: 20px;
  color: var(--text-color);
}
@media screen and (min-width: 1200px) {
  .modal-form__checkbox_label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
  }
}
.modal-form__checkbox_label::before {
  display: flex;
  content: "";
  width: 16px;
  height: 15px;
  border-radius: 2px;
  background-image: url("../images/border-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .modal-form__checkbox_label::before {
    margin-right: 7px;
  }
}
.modal-form__checkbox:checked + .modal-form__checkbox_label::before {
  background-image: url("../images/checked-icon.svg");
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.modal-form__checkbox:focus + .modal-form__checkbox_label::before {
  outline: 1px solid var(--accent-color);
}

.modal-form__checkbox_link {
  color: var(--accent-color);
}

.modal-form__button {
  min-width: 200px;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 55px 10px 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal-form__button {
    padding: 10px 32px;
  }
}
.modal-form__button:hover, .modal-form__button:focus {
  background-color: #188ce8;
  border-color: transparent;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu__container {
  max-width: 480px;
  position: relative;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-button:focus, .mobile-menu__close-button:hover {
  fill: var(--accent-color);
}
.mobile-menu__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}
.mobile-menu__link_current {
  color: var(--accent-color);
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__phone-number {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mobile-menu-social {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 64px;
}
.mobile-menu-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu-social__item:not(:first-child) {
  padding-left: 10px;
}
.mobile-menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.header {
  width: 100%;
  background: var(--primary-background-color);
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header .menu {
  display: none;
}
.header .contact {
  display: none;
}
.header .mobile-menu__open-button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .mobile-menu__open-button:hover,
.header .mobile-menu__open-button:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .header .mobile-menu__open-button {
    display: none;
  }
  .header .header__container {
    height: 80px;
    justify-content: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .header .navigation {
    display: flex;
    align-items: center;
  }
  .header .menu {
    display: flex;
    padding: 0;
    margin-left: 88px;
  }
  .header .menu__item {
    position: relative;
  }
  .header .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .header .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header .menu__link_current {
    color: var(--accent-color);
  }
  .header .menu__link_current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -32px;
    background-color: var(--accent-color);
  }
  .header .menu__link:hover, .header .menu__link:focus {
    color: var(--accent-color);
  }
  .header .contact {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 84px;
  }
  .header .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header .header__mail {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header .header__mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .header .header__mail:hover, .header .header__mail:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .header .header__phone-number {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header .header__phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .header .header__phone-number:hover, .header .header__phone-number:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .header .mail__icon {
    margin-right: 8px;
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .header .header__mail:hover .mail__icon,
.header .header__mail:focus .mail__icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .header .phone__icon {
    margin-right: 8px;
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .header .header__phone-number:hover .phone__icon,
.header .header__phone-number:focus .phone__icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .header .mobile-menu__open-button {
    display: none;
  }
  .header .header__container {
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 25px;
    width: 1200px;
  }
  .header .navigation {
    display: flex;
    align-items: center;
  }
  .header .menu {
    display: flex;
    padding: 0;
    margin-left: 93px;
  }
  .header .menu__item {
    position: relative;
  }
  .header .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header .menu__link_current {
    color: var(--accent-color);
  }
  .header .menu__link_current::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    bottom: -32px;
    background-color: var(--accent-color);
  }
  .header .menu__link:hover,
.header .menu__link:focus {
    color: var(--accent-color);
  }
  .header .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .header .contact {
    display: flex;
    padding: 0;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
  }
  .header .contact__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
  .header .header__mail {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header .header__mail:hover,
.header .header__mail:focus {
    color: var(--accent-color);
  }
  .header .header__phone-number {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header .header__phone-number:hover,
.header .header__phone-number:focus {
    color: var(--accent-color);
  }
  .header .mail__icon {
    margin-right: 10px;
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header .header__mail:hover .mail__icon,
.header .header__mail:focus .mail__icon {
    fill: var(--accent-color);
  }
  .header .phone__icon {
    margin-right: 10px;
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header .header__phone-number:hover .phone__icon,
.header .header__phone-number:focus .phone__icon {
    fill: var(--accent-color);
  }
}

.hero {
  text-align: center;
  padding: 118px 0;
  background: var(--background-color);
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-hero-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-hero-desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/img-hero-desktop@2x.jpg");
  }
}

.container__hero {
  padding: 0;
}

.hero__title {
  padding: 0;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    margin: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  border-color: transparent;
}

.specialization {
  display: flex;
  flex-wrap: wrap;
}
.specialization__link {
  height: 120px;
  border-radius: 4px;
  background: var(--portfolio-color-button);
  margin-bottom: 30px;
}
.specialization__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .specialization__title {
    justify-content: start;
  }
}
.specialization__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.specialization__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .specialization__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .specialization__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .specialization__item {
    flex-basis: calc((100% - 60px) / 2);
  }
  .specialization__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .specialization__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .specialization__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .specialization__item:not(:nth-child(4n)) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.our-work {
  display: flex;
  justify-content: center;
}
.our-work__item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
}
.our-work__item:not(:last-child) {
  margin-right: 30px;
}
.our-work__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.our-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.our-team__card {
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-team__item {
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .our-team__item:not(:last-child) {
    margin-bottom: 0;
  }
  .our-team__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our-team__item {
    flex-basis: calc((100% - 60px) / 2);
  }
  .our-team__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .our-team__item:nth-child(-n+2) {
    margin-bottom: 0;
  }
  .our-team__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}
.our-team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.our-team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}
.social-list__icon {
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--primary-background-color);
}

.team-img {
  width: 450px;
  height: 460px;
}
@media screen and (min-width: 768px) {
  .team-img {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team-img {
    width: 270px;
    height: 260px;
  }
}

.our-clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.our-clients__link {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .our-clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .our-clients__link {
    width: 170px;
  }
}
.our-clients__link:hover, .our-clients__link:focus {
  border: 1px solid var(--accent-color);
}
@media screen and (max-width: 479px) {
  .our-clients__item:not(:nth-last-child(-n+1)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .our-clients__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .our-clients__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our-clients__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }
  .our-clients__item:not(:nth-child(2n)) {
    margin-right: 0;
  }
}
.our-clients__icon {
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__link:hover .our-clients__icon, .our-clients__link:focus .our-clients__icon {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .our-clients__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
  .our-clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-clients__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 0;
  }
  .our-clients__item:not(:nth-child(3n)) {
    margin-right: 0;
  }
  .our-clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
  .our-clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  display: flex;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--hero-background);
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .footer__container {
    justify-content: start;
    align-items: baseline;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
  .footer__navigation {
    flex-grow: 1;
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-top: 20px;
  padding: 0;
}

.contact-footer__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .contact-footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contact-footer__link {
  color: var(--primary-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-footer__link:hover, .contact-footer__link:focus {
  color: var(--accent-color);
}

.footer__mail,
.footer__phone-number {
  color: var(--rgba-footer);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__phone-number:hover,
.footer__phone-number:focus,
.footer__mail:hover,
.footer__mail:focus {
  color: var(--accent-color);
}

.footer-social__container {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer-social__container {
    margin-top: 0;
    margin-left: 70px;
  }
}
.footer-social__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}
.footer-social__icon {
  fill: var(--primary-background-color);
}

.mailing__container {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .mailing__container {
    margin-top: 0;
    margin-left: 93px;
  }
}

.mailing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}

.mailing__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .mailing__form {
    flex-direction: row;
  }
}

.mailing__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-background--);
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mailing__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailing__input {
    width: 358px;
  }
}
.mailing__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.mailing__button {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .mailing__button {
    margin-top: 0;
    margin-left: 12px;
  }
}
.mailing__button:hover, .mailing__button:focus {
  background-color: #188ce8;
  border-color: transparent;
}

.mailing__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter__list {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .filter__item {
    text-align: center;
  }
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  background: var(--portfolio-color-button);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  border-color: transparent;
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.portfolio-list__item {
  background: var(--primary-background-color);
}
.portfolio-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .portfolio-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .portfolio-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .portfolio-list__item:not(:nth-child(2n)) {
    margin-right: 0;
  }
  .portfolio-list__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .portfolio-list__item:nth-child(-n+6) {
    margin-bottom: 30px;
  }
}
.portfolio-list__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background-color);
  color: var(--primery-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__img-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-list__overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: hidden;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover .portfolio-list__overlay, .portfolio-list__link:focus .portfolio-list__overlay {
  transform: translateY(0%);
}

.portfolio-card {
  flex-grow: 1;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--primary-background-color);
  border: 1px solid #eeeeee;
}
@media screen and (min-width: 1200px) {
  .portfolio-card {
    flex-grow: 0;
  }
}
.portfolio-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.portfolio-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: left;
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */