.hero {
  text-align: center;
  padding: 118px 0;
  background: var(--background-color);
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/img-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/img-hero-mobile@2x.jpg");
  }
  @media screen and (min-width: 768px) {
    padding: 118px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/img-hero-tablet.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/img-hero-tablet@2x.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/img-hero-desktop.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/img-hero-desktop@2x.jpg");
    }
  }
    
}
.container__hero {
  padding: 0;
}
.hero__title {
  padding: 0;
  max-width: 360px;
  @include font(900, 26px, 42px, 0.06em);
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-background-color);
  margin: auto;
  @media screen and (min-width: 1200px) {
    max-width: 696px;
    margin: auto;
    @include font(900, 44px, 60px, 0.06em);
  }
}

.hero__button {
  min-width: 200px;
  @include font(700, 16px, 30px, 0.06em);

  color: var(--primary-background-color);
  background: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  margin-top: 30px;
  padding: 10px 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
    border-color: transparent;
  }
}
