.our-clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__link {
    @extend %align;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
      width: 226px;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
    }
  }
    @media screen and (max-width: 479px) {
    &__item:not(:nth-last-child(-n + 1)) {
      margin-bottom: 30px;
    }
  }
    @media screen and (min-width: 480px){
  &__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }

  &__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
  @media screen and (min-width: 768px) {
    &__item:not(:nth-last-child(-n + 2)) {
      margin-bottom: 0;
    }

    &__item:not(:nth-child(2n)) {
      margin-right: 0;
    }
  }

  &__icon {
    fill: var(--social-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .our-clients__link:hover &,
    .our-clients__link:focus & {
      fill: var(--accent-color);
    }
  }
  @media screen and (min-width: 768px) {
    &__item:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }

    &__item:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__item:not(:nth-last-child(-n + 3)) {
      margin-bottom: 0;
    }

    &__item:not(:nth-child(3n)) {
      margin-right: 0;
    }
    &__item {
      flex-basis: calc((100% - 150px) / 6);

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
