.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);

  opacity: 0;
  z-index: 1;
  visibility: hidden;
  pointer-events: none;
  overflow-y: scroll;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  &__container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 48px 40px;
  }
  &__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      fill: var(--accent-color);
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:not(:last-child) {
      padding-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 302px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &_current {
      color: var(--accent-color);
    }
  }
}

.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__phone-number {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mobile-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.mobile-menu-social {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 64px;
  &__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__item:not(:first-child) {
    padding-left: 10px;
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2px;
    letter-spacing: 0.02em;

    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
