.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 40px;
  gap: 15px 8px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter__item {
  @media screen and (min-width: 1200px) {
    text-align: center;
  }
}

.filter__button {
  @include font(500, 16px, 26px, 0.03em);
  text-align: center;

  background: var(--portfolio-color-button);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    border-color: transparent;
    color: var(--primary-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    background: var(--primary-background-color);
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 60px) / 3);
      &:not(:last-child) {
        margin-bottom: 0;
      }
      
      &:not(:nth-child(2n)) {
        margin-right: 0;
      }

      &:not(:nth-child(3n)) {
        margin-right: 30px;
      }
      &:nth-child(-n + 6) {
        margin-bottom: 30px;
      }
    }
  }
  &__link {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background-color);
    color: var(--primery-text-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
    }

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  &__img-wrapper {
    position: relative;
    overflow: hidden;
  }
  &__overlay {
    @include font(400, 18px, 28px, 0.03em);
    color: #ffffff;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    overflow: hidden;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-list__link:hover &,
    .portfolio-list__link:focus & {
      transform: translateY(0%);
    }
  }
}

.portfolio-card {
  flex-grow: 1;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--primary-background-color);
  border: 1px solid #eeeeee;
  @media screen and (min-width: 1200px) {
    flex-grow: 0;
  }
  &__title {
    @include font(700, 18px, 36px, 0.06em);
    text-align: left;
  }
  &__text {
    @include font(400, 16px, 30px, 0.03em);

    color: var(--text-color);
    text-align: left;
    margin-top: 4px;
  }
}
